/* AssignmentOne stylesheet by David J. Waro, 2017 G575 */

body {
  background-color: rgba(0, 255, 204, 0.1);
}

#noChange {
  width: 10000px;
}

#mydiv {
  position: fixed;
  top: 12.5%;
  left: 80%;
}

th {
  text-align: left;
}

#mapid {
  border-style: solid;
  border-width: medium;
  border-radius: 2em;
  height: 45em;
  width: 55%;
  position: fixed;
  top: 12.5%;
  left: 22.5%;
  display: inline-block;
}

#title {
  text-align: center;
  font-family: Didot, Helvetica, serif;
  font-size: 3em;
  margin: 10px;
  position: fixed;
}

#infoPanel {
  width: 15em;
  display: inline-block;
  top: 100px;
  vertical-align: bottom;
  position: relative;
  left: 25px;
  text-align: left;
  height: 100px;
}

#slider {
  width: 14em;
  top: 86%;
  left: 25%;
  position:fixed;
  display: inline-block;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}
/*#panelP {
  width: 100%;
  display: inline-block;
}*/

.leaflet-popup-content p {
  margin:  0.2em 0;
}
