/* AssignmentOne stylesheet by David J. Waro, 2017 G575 */

body {
  background-color: rgb(140, 140, 140);
}

#mydiv {
  position: fixed;
  top: 12.5%;
  left: 80%;
}

th {
  text-align: left;
}

#mapid {
  border-style: solid;
  border-width: medium;
  border-radius: 2em;
  height: 48em;
  width: 68%;
  position: fixed;
  top: 12.5%;
  left: 30%;
  display: inline-block;
}

#title {

  max-height:20px;
  min-height:10px;

  max-width: 100%;
  min-width: 70%;

  text-align: center;
  font-family: Didot, Helvetica, serif;
  font-size: 47px;
  position: relative;
  padding: 1px;

  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

#temporal-legend {
  line-height: 10px;
  padding: 3px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#infoPanel {
  width: 14em;
  display: inline-block;
  top: 100px;
  vertical-align: bottom;
  position: fixed;
  left: 25px;
  text-align: left;
  height: 100px;
  font-size: 1.5em;
  font-family: Helvetica, sans-serif;
  color: #f2f2f2;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#info-source {
  position: absolute;
  top: 640px;
  left: 25px;
  width: 300px;
  line-height: 10px;
}


#flags {
  top: 400px;
  left: 40px;
  height: 175px;
  position: absolute;
}

#redirect {
  font-family: Helvetica, sans-serif;
  text-align: center;
  top: 376px;
  left: 40px;
  width: 225px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  border-radius: 1em;
}

.sequence-control-container {
    width: 285px;
    height: 28px;
    background-color: rgba(255,255,255,0.8);
    padding: 6px;
    line-height: 38px;
    text-align: center;
    border: solid gray 1.5px;
    border-radius: 1em;
}

.legend-control-container {

  background-color: rgba(255,255,255,0.8);

  text-align: center;
  border: solid gray 1.5px;
  border-radius: 1em;
}

.range-slider {
    width: 200px;
}

#forward {
    float: right;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

#reverse {
    float: left;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

.leaflet-popup-content p {
  margin:  0.2em 0;
}
